/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
 .idea/
.idea/.name
.idea/contadores.iml
.idea/encodings.xml
UPGRADE.md
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
LICENSE
.idea/workspace.xml
.idea/vcs.xml
.idea/frameworkRootSettings.xml
.idea/modules.xml
.idea/misc.xml
README.md
.idea/scopes/scope_settings.xml
app/data/bundles/contadores/tmp/*
!app/data/bundles/contadores/tmp/.gitkeep
app/data/bundles/contadores/uploads/archivos/tareas/*
!app/data/bundles/contadores/uploads/archivos/tareas/.gitkeep
app/data/bundles/contadores/uploads/archivos/tareasMetadata/*
!app/data/bundles/contadores/uploads/archivos/tareasMetadata/.gitkeep
app/data/bundles/contadores/uploads/archivos/clientes/*
!app/data/bundles/contadores/uploads/archivos/clientes/.gitkeep
