{% block _contadoresbundle_areafiltertype_nombre_widget %}
    <div class="col-sm-6 col-md-6">
        <h4 class="example-title">Nombre</h4>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}



