{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del Tipo Estado
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('tipoestado') }}">Tipo Estado</a></li>
    <li class="active">Ver detalles del Tipo Estado</li>
{% endblock %}

{% block page %}


    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Nombre</b></td>
            <td>{{ entity.nombre }}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
        <div class="row">
            <a  href="{{ path('tipoestado') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
        </div>
    </div>
{% endblock %}
