{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} -  Home
{% endblock %}

{% block menu %}
{{ include('ContadoresBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">Bienvenido, {{ app.user.mail }}</p>
</div>

{% endblock %}
