
{% block _contadoresbundle_usuario_mail_widget %}
  <div class="col-sm-6 col-md-6">
    <h4 class="example-title">Mail</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}


{% block _contadoresbundle_usuario_rol_widget %}
    <div class="col-sm-6 col-md-6 ">
        <h4 class="example-title">Rol</h4>
        <div class="form-group">
            {{ block('choice_widget') }}
        </div>
    </div>
{% endblock %}

